{% extends 'login/base.html' %}
 {% block title %}
 Foreign Exchange Rate
{% endblock %}
{% block content %}

<!-- Page-Title -->
					<div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="float-right">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/dashboard/">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Finance</a></li>
                                        <li class="breadcrumb-item active">Foreign Exchange Rate</a></li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Foreign Exchange Rate</h4>
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                    </div>
					<div class="row justify-content-center">
						<div class="col-md-12 col-lg-12">
                            <div class="card report-card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">

										<br>

										<div class="container">
											<form method="post" class="form-group" id="addCurr" novalidate>
											{% csrf_token %}
											{{form.as_p}}
											<input type="submit" value="Search" class="btn btn-gradient-primary">
											</form>
										</div>
										 </div>
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div> <!--end col-->
					</div>

{% endblock %}